@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$clear_background: linear-gradient(
  180deg,
  rgba(0, 194, 255, 0.73) 29.17%,
  rgba(255, 255, 255, 0.21) 100%
);
$searchBar_background: rgba(0, 0, 0, 0.67);
$blue: rgb(0, 217, 255);
